
html, body {
	position: relative;
	height: 100%;
}
.mainContainer {
	min-width: 900px;
	height: 100%;
	background: #fff;
	width: 90%;
	margin: 10px auto;
	position: relative;
}
.navContent {
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	/*float: left;*/
	width: 180px;
	height: 100%;
	margin-right: 5px;
    /*margin-top: 205px;*/
	box-sizing: border-box;
	background: #e2dddd;
	border-radius: 4px;
}
.navContent a {
	margin: 10px auto;
	color: #FFF;
	display: block;
	width: 85%;
	/*border-radius: 4px;*/
	box-sizing: border-box;
	padding: 25px;

	font-size: 15px;
	text-align: center;
	background: #979b9c;
}
.navContent a:first-child {
	margin-top: 195px;
}
.navContent a.clickA {
	background: #40AFFE;
}

.tabContainer {
	position: absolute;
	top: 0;
	left: 200px;
	right: 0;
	bottom: 0;
	padding: 10px;
	float: right;
	box-sizing: border-box;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.tabContainer::before {
	position: absolute;
	top: 230px;
	left: -14px;
	content: "";
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid transparent;
	border-right: 7px solid #dddad5;
}
.tabContainer.tab1::before {
	top: 230px;
}
.tabContainer.tab2::before {
	top:340px;
}
.tabContainer.tab3::before {
	top:445px;
}
#table1 tr td, #table1 tr th {
	height: 60px;
}
#table1 .tab {
	float: left;
	width: 49%;
	margin-right: 5px;
	box-sizing: border-box;
}
#table1 tr td:first-child{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}
#table3 tr td span {
	display: inline-block;
	padding-left: 5px;
	font-weight: bold;
	font-size: 15px;
}
.searchInput {
	margin: 20px 0;
	width: 100%;
	height: 120px;
	line-height: 120px;
	background: #e2dddd;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.searchInput form {
	width: 90%;
	margin: 0 auto;
}
.searchInput input {
	display: inline-block;
	width: 79%;
	height: 40px;
	line-height: 40px;
}
.searchInput button[type="submit"] {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 20%;
	text-align: center;
	font-size: 14px;
	background: #40AFFE;
	border-radius: 4px;
	color: #fff;
}
.tabBox {
	width: 100%;
	background: #e2dddd;
}


.show {
	display: none;
	box-sizing: border-box;
	position: absolute;
	width: 175px;
	background: #91dd9a;
	font-size: 14px;
	padding: 5px;
	border-radius: 4px;
	z-index: 10;
}
.show::before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 20%;
	left: -13px;
	border-bottom: 7px solid transparent;
	border-left: 7px solid transparent;
	border-top: 7px solid transparent;
	border-right: 7px solid #91dd9a;
}
.show>span {
	display: block;
	line-height: 30px;
	font-weight: bold;
}
.show>p {
	padding: 0;
	margin: 0;
}
